# PostgreSQL

SQL_ENGINE              --->  django.db.backends.postgresql
POSTGRES_DB             --->  pgdb
POSTGRES_PASSWORD       --->  root
POSTGRES_USER           --->  root
POSTGRES_HOST           --->  pgdb
POSTGRES_PORT           --->  5432

ENV                     --->  DEV
SECRET_KEY              --->  foo
DATABASE                --->  postgres

CLOUDINARY_CLOUD_NAME   --->  dlrkfl5hb
CLOUDINARY_API_KEY      --->  923956114341816
CLOUDINARY_API_SECRET   --->  i4AygnArqsJTFyZ4GiJhHkU64t8

CLOUDINARY_URL          --->  cloudinary://923956114341816:i4AygnArqsJTFyZ4GiJhHkU64t8@dlrkfl5hb

GOOGLE_OAUTH2_KEY       ---> 904190316005-bkmh71qcat91kaaov3sgrkff9slnpp3m.apps.googleusercontent.com
GOOGLE_OAUTH2_SECRET    ---> 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