{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1 class="profile">{{user.username}} | <a href="{% url 'users:logout' %}">Выйти</a></h1>


<form class="profile" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

    <div class="flex-container">
        <div class="avatar-container">
            {% if user.avatar %}
                <img class="avatar" src="{{ user.avatar.url }}">
            {% else %}
                <img class="avatar" src="{% static 'users/images/default.png' %}">
            {% endif %}
        </div>

        <div class="profile-followers">
            <p>{{ user.subscriptions.count }} подписчиков</p>
        </div>

        <div class="profile-following">
            <p>{{ user.subscribers.count }} подписок</p>
        </div>
    </div>

    <div class="biography-container">
        {% for f in form %}
            {% if f.name == 'biography' %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                    <div class="form-error">{{ f.errors }}</div>
            {% endif %}
        {% endfor %}
    </div>

    <p><label class="form-label" for="{{ form.avatar.id_for_label }}"></label>{{ form.avatar }}</p>
    <div class="form-error">{{ form.avatar.errors }}</div>

    <p><button type="submit">Сохранить</button></p>
</form>

<h2 class="center-block-profile">You posts</h2>
<div class="you-posts-profile">
    {% for post in user.post_set.all %}
        {% with img=post.uploadimage_set.first %}
            {% if img %}
                <a href="{% url 'comments' post_id=post.id %}">
                    {% load cloudinary %}
                    {% cloudinary img.image quality='auto' width=200 height=200 crop='pad' background='gen_fill:ignore-foreground_true' %}
                </a>
            {% endif %}
        {% endwith %}

        {% with video=post.uploadvideo_set.first %}
            {% if video %}
                <a href="{% url 'comments' post_id=post.id %}">
                    {% load cloudinary %}
                    <video width="200" height="200" controls>
                        <source src="{{ video.video_file }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </a>
            {% endif %}
        {% endwith %}
    {% endfor %}
</div>

{% endblock %}
