{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="post-details">
    <div class="post-image-comment">
        {% for media_file in post.uploadimage_set.all %}
            {% load cloudinary %}
            {% cloudinary media_file.image quality='auto' width=930 height=930 crop='pad' background='gen_fill:ignore-foreground_true' %}
        {% endfor %}

        {% for media_file in post.uploadvideo_set.all %}
        {% load cloudinary %}
            <video width="800" height="720" controls>
                <source src="{{ media_file.video_file }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        {% endfor %}
    </div>
    <div class="comments-section">
        <h2>Comments on this post</h2>
        <div class="comments-container">
            <div class="comment-list">
                {% for comment in comments %}
                    <div class="comment-container">
                        <div class="avatar-container">
                            {% if comment.user.avatar %}
                                <img class="comment-avatar" src="{{ comment.user.avatar.url }}">
                            {% else %}
                                <img class="avatar" src="{% static 'users/images/default.png' %}">
                            {% endif %}
                        </div>
                        <div class="comment-content">
                            <a href="{% url 'users:user_profile' username=comment.user.username %}"><strong>{{ comment.user.username }}</strong></a>: {{ comment.text | linebreaksbr }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <form method="post" action="{% url 'add_comment' post_id=post.id %}">
            {% csrf_token %}
            <div>
                <label for="{{ form.text.id_for_label }}">Прокомментировать:</label>
                {{ form.text }}
            </div>
            <div>
                <button type="submit" class="comment-button">Send</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
